.pokemon{
    min-width: 200px;
    text-align: center;
    background: rgb(168, 165, 165);
    margin: 10px;
    border-radius: 7px;
}

.pokemon h3{
    color: rgb(19, 19, 230);
    padding-top: 10px;
}

.pokemon p{
    padding-bottom: 10px;
    font-weight: 700;
    font-size: .8em;
}